body {
  font-family: 'Open Sans', sans-serif;
}

/*-----Новая заявка-----*/
.crm-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  /*-----Левая колонка----*/
  .crm__left {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 240px;
    min-width: 240px;
    background-color: #303133;
  }
  .crm__left-title {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.93;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: #409eff;
    padding: 13px;
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.69;
    }
  }
  .left__adverts {
    padding: 15px 15px 0 15px;
  }
  .left__adverts-all {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .crm-tag {
    width: 45px;
    height: 22px;
    border-radius: 8px;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    .el-badge__content {
      background-color: transparent;
      border: none;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
  .left__models {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    padding: 0 15px 15px 15px;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #cccccc;
    }

    &::-webkit-scrollbar-track {
      background: #888888;
      cursor: pointer;
    }

  }
  .left__model {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #f2f6fc;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  /*-----Правая колонка----*/
  .crm__right {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .crmRight__check {
    margin-bottom: 10px;
    .el-checkbox-group {
      display: flex;
    }
  }

  .right__header-top {
    display: flex;
    background-color: #161a24;
    padding: 5px 15px 5px 15px;
    align-items: center;
    min-height: 30px;
    height: 30px;
  }
  .rheader__top-message {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    span {
      color: #f56c6c;
    }
  }
  .rheader__top-name {
    margin-left: auto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .button-icon {
    margin-left: 15px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    width: 20px;
    height: 20px;
    min-height: 10px;
    min-width: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right__header-buttons {
    height: 50px;
    min-height: 50px;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    background-color: #303133;
  }
  .rheader__button {
    background-color: transparent;
    border: none;
    height: 50px;
    min-height: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    span {
      display: flex;
      align-items: center;
    }
    .mdi {
      margin-right: 10px;
    }
    .crm-tag {
      margin-left: 5px;
    }
    &:active, &:focus, &:hover {
      background-color: #161a24;
    }
  }
  .rheader__buttons-search {
    width: 263px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: auto;
  }
  .rheader__buttons-new {
    margin-left: 15px;
    border-radius: 3px;
    background-color: #409eff;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    .mdi {
      margin-right: 10px;
    }
  }

  .crmRight {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    padding: 15px;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888888;
    }

    &::-webkit-scrollbar-track {
      background: #cccccc;
      cursor: pointer;
    }
  }
  .crmRight__collapse-model {
    display: flex;
    flex-wrap: wrap;
  }
  .collapse__model-select {
    margin-right: 30px;
    min-width: 150px;
    width: 270px;
    .el-select {
      width: 100%;
    }
  }
  .collapse__model-radio {
    margin-right: 30px;
  }
  .crmRight__options {
    .el-collapse-item__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .optionLeft, .optionCenter, .optionRight {
      display: flex;
      flex-direction: column;
      flex-basis: calc(33.3333% - 15px);
      .collapse__model-select {
        max-width: 100%;
      }
      .el-checkbox-group {
        display: flex;
        flex-direction: column;
        .el-checkbox {
          flex-basis: 100%;
          margin-left: 0;
        }
      }
    }
    .model__select-title {
      font-size: 14px;
      font-weight: 600;
      color: #303133;
      display: flex;
      align-items: center;
    }
    .collapse__model-select {
      margin-bottom: 20px;
    }
    .el-collapse-item__content {
      padding-top: 10px;
    }
  }

  .optionLeft-alarm {
    margin-bottom: 20px;
  }
  /*----Титл и кнопка очистить----*/
  .crmRight__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #161a24;
    min-height: 40px;
    button {
      border: none;
      background-color: transparent;
      min-width: 20px;
      min-height: 5px;
      padding: 0;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #8c939d;
      .mdi {
        margin-right: 5px;
      }
    }
  }
  /*----checkbox-----*/
  .item__check {
    margin-bottom: 0;
  }
  /*----Заголовок Коллапса----*/
  .el-collapse-item__header {
    border-radius: 4px;
    background-color: #ebeef5;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #303133;
    position: relative;
    .el-collapse-item__arrow {
      position: absolute;
      right: 15px;
      margin-right: 0;
    }
    .mdi {
      font-size: 16px;
      color: #303133;
      margin-right: 10px;
    }
  }
  .el-collapse .el-collapse-item {
    margin-bottom: 20px;
  }
  .el-collapse-item__content {
    padding-bottom: 0px;
  }
  .el-collapse-item__wrap {
    border: none;
  }
  /*-----TITL коллапса*/
  .model__select-title {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #606266;
    height: 30px;
  }
  /*----Radio кнопки----- */
  .collapse__model-color {
    .el-form-item {
      margin-bottom: 0;
    }
  }
  .model-colors {
    display: flex;
    align-items: center;
    .model-color {
      width: 25px;
      height: 25px;
      border: solid 1px #c0c4cc;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .model-color-active {
      &:before {
        position: absolute;
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAASAAAAEgARslrPgAAAH9JREFUSMftkr0JgFAMhA9xG5dwCH8K3cNKtHQTR7RQ+GwsgogoLzbyrkzId8kRKSrqjYDsS3gBrMBk64kXXNIsKZW0fLU5wBDh4XCgB6qbfm3g41t4fgyuVyZBcAPpDsAGNKZeumV+Mmld4cZkNHGFxfLgEv9XPF3iu3nUv7QDdzzolivrh8EAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTBUMTI6NDQ6MzArMDA6MDAtJLQDAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTEwVDEyOjQ0OjMwKzAwOjAwXHkMvwAAACh0RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vdG1wL21hZ2ljay1IMThvUTJCR1DbteAAAAAASUVORK5CYII=");
        top: -2px;
      }
    }
    .model-white-active {
      &:before {
        position: absolute;
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAASAAAAEgARslrPgAAAIJJREFUSMftkLsNgCAURY+fbVzCIfwUuoeVUTs3cQ4LZ7LARBtIaJQo0BhO+V4473IhEHhJ5lNeAAKY9WHsUL4AKbD7Sn4CQ5A7kfdA9bCvNfn4Vp7Lh+LmiJVc0UnBATTavLSp5elI61quGLW6rGsx/eRz8sSw34AIWIHJdfrAT7gA/vctXmUgC/kAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTBUMTI6NDg6NTcrMDA6MDA00GOEAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTEwVDEyOjQ4OjU3KzAwOjAwRY3bOAAAACh0RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vdG1wL21hZ2ljay1CazM2aG52Mmq6VBMAAAAASUVORK5CYII=");
        top: -2px;
      }
    }
    .el-checkbox {
      margin-left: 20px;
    }
  }
  .collapse__image-title {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #606266;
    margin-top: 10px;
    .mdi {
      font-size: 16px;
      color: #c0c4cc;
    }
  }
  .collapse__image-text {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c0c4cc;
  }
  /*----Uploader-----*/
  .collapse__image-upload {
    margin-top: 5px;
    .el-upload {
      width: 148px;
      height: 148px;
      border-radius: 4px;
      background-color: #fbfdff;
      border: dotted 1px #c0c4cc;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      i {
        font-size: 28px;
        color: #8c939d;
      }
    }
  }
  .collapse__image-video {
    margin-top: 5px;
    input {
      max-width: 570px;
    }
  }
  /*----Состояние и цена-----*/
  .crmRight__collapse-state {
    display: flex;
    align-items: center;
  }
  .collapse__model-mili {
    margin-right: 30px;
    input {
      width: 140px;
    }
  }
  .collapse__model-garanti, .collapse__model-tex {
    margin-right: 20px;
    input {
      width: 140px;
      margin-right: 10px;
    }
    .el-input__suffix {
      right: 15px;
    }
  }
  .collapse__model-choky {
    margin-top: 18px;
    .el-form-item {
      margin-bottom: 0;
      height: 20px;
    }
  }
  .model__text {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #303133;
    min-height: 30px;
    margin-top: 10px;
    i {
      font-size: 16px;
      color: #c0c4cc;
    }
  }
  .collapse__sost {
    .el-collapse-item {
      margin-bottom: 0;
    }
    .el-collapse-item__wrap {
      padding-bottom: 15px;
      border-bottom: 1px solid #dddddd;
    }
  }

  /*----PRICE----*/
  .crmRight__price {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .collapse__price-select {
      margin-right: 30px;
      width: 370px;
      input {
        width: 100%;
      }
    }
    .el-form-item {
      margin-bottom: 0;
    }
  }
  .crmRight__price-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #303133;
    flex-basis: 100%;
  }
  .collapse__price-obmen {
    flex-basis: 100%;
    margin-top: 10px;
  }
  /*----INFO-----*/
  .crmRight__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .Right__info-title {
    font-size: 14px;
    font-weight: 600;
    color: #303133;
    flex-basis: 100%;
  }
  .Right__info-alert {
    flex-basis: 100%;
    font-size: 13px;
    color: #f56c6c;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .crmRight__info-input {
    flex-basis: 50%;
    margin-right: 30px;
    textarea {
      resize: none;
      height: 145px;
    }
  }
  .crmRight__info-info {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #303133;
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
    }
  }
  /*---DOPI----*/
  .crmRight__dopi-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #303133;
  }
  .crmRight__dopi-bittons {
    display: flex;
    margin-top: 10px;
    button {
      flex-grow: 2;
      height: 54px;
      text-align: left;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.88;
      letter-spacing: normal;
      color: #303133;
      span {
        display: flex;
        justify-content: space-between;
        i {
          color: #c0c4cc;
        }
      }
    }

  }
  /*---Footer----*/
  .crmRight__footer {
    min-height: 61px;
    display: flex;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
    align-items: center;
    .footer__up {
      margin-left: auto;
      button {
        border: none;
        min-height: 20px;
        min-width: 20px;
        padding: 0;
        border-radius: 3px;
        background-color: #606266;
        width: 40px;
        height: 40px;
        color: white;
        i {
          font-size: 18px;
        }
      }
    }
    .footer__save {
      margin-right: 20px;
      button {
        border-radius: 4px;
        background-color: #409eff;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        border: none;
      }
    }
    .footer__cancel {
      button {
        font-size: 14px;
        font-weight: 600;
        color: #606266;
        border-radius: 4px;
      }
    }
  }
  /*----GLOBAL-----*/
  .el-form-item {
    margin-bottom: 5px;
  }
  .el-radio-button__inner {
    transition: 0.3s ease;
  }
  .el-radio-button__inner:hover {
    background-color: #ebeef5;
    font-size: 12px;
    color: #303133;
  }
  .el-collapse {
    border: none;
  }
  .crmRight__options {
    .collapse__model-select {
      flex-grow: 2;
      width: 100%;

    }
    .el-collapse-item__content {
      border-bottom: 1px solid #dddddd;
    }
  }
  input, select {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  input::placeholder, select::placeholder {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  .el-checkbox {
    display: flex;
    height: 30px;
    align-items: center;
  }
  .crmRight__table {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    color: #303133;
    width: 100%;
    .has-gutter {
      tr {
        th {
          padding: 0;
          font-size: 12px;
          color: #606266;
          font-weight: normal;
        }
      }
    }
    button {
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }
  .footer__pagination {
    font-size: 14px;
    color: #9b9b9b;
    .el-pagination {
      font-weight: normal;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #9b9b9b;
    }
  }
  .crmRight__title {
    .crmRight__title-close {
      font-size: 20px;
      color: #303133;
      transition: 0.3s ease;
      &:hover {
        color: #409eff;
      }
    }
  }
  /*----Отзывы-----*/
  .crmRight__date {
    .el-date-editor {
      width: 435px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #dcdfe6;
    }
    button {
      margin-left: 10px;
    }
  }
  .crmTable-auto {
    font-size: 12px;
    color: #888888;
  }
  /*-----Страница настроек-----*/
  .crmRight__settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .crmRight__setting-limints, .crmRight__setting-other {
    flex-basis: calc(50% - 15px);
    margin-bottom: 20px;
  }
  .crmRight__setting-title {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #303133;
    height: 40px;
    border-radius: 4px;
    background-color: #ebeef5;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .crmRight__setting-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 32px;
  }
  .setting__item-number {
    margin-right: 15px;
  }
  .setting__item-title {
    font-size: 13px;
    text-align: left;
    color: #606266;
  }
  .setting__item-switch {
    margin-left: auto;
  }
  .setting__item-select {
    margin-left: 15px;
    flex-grow: 2;
    .el-select {
      width: 100%;
    }
  }
  .setting__item-button {
    margin-left: auto;
  }
  .crmRight__setting-sale, .crmRight__setting-foto, .crmRight__setting-panel {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
  }
  .crmRight__setting-item {
    .el-checkbox-group {
      .el-checkbox {
        margin-left: 0;
      }
    }
  }
  .crmRight__setting-sale, .crmRight__setting-foto {
    .crmRight__setting-item {
      height: auto;
    }
  }
  .crmRight__setting-publick {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .crmRight__setting-title {
      flex-basis: 100%;
    }
    .crmRight__setting-item {
      flex-basis: calc(50% - 15px);
    }
  }
  /*----Страница заявки на кредит----*/
  .crmTable__id {
    font-size: 14px;
    font-weight: bold;
    color: #606266;
  }
  .crmTable-model {
    font-size: 14px;
    font-weight: 600;
    color: #606266;
    span {
      font-weight: normal;
      color: #409eff;
    }
  }
  .crmTable__foto {
    display: flex;
    align-items: center;
  }
  .crmTable__foto-img {
    width: 100%;
    height: 100%;
  }
  /*----Заявка на выкуп----*/
  .crmTable__id {
    font-size: 14px;
    font-weight: bold;
    color: #606266;
  }
  .crmTable-model {
    font-size: 14px;
    font-weight: 600;
    color: #606266;
    span {
      font-weight: normal;
      color: #409eff;
    }
  }
  .crmTable__foto {
    display: flex;
    align-items: center;
  }
  .crmTable__foto-img {
    width: 100%;
    height: 100%;
  }
}

/*---POPOVER----*/
.el-dropdown-menu {
  li {
    a {
      font-size: 14px;
      color: #5a5e66;
      padding: 0;
      border: none;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 70px;
      transition: 0.3s ease;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      .mdi {
        font-size: 16px;
        margin-right: 10px;
      }
      &:focus {
        background-color: transparent;
        color: #409eff;
      }
    }
  }

}

/*----Админка-----*/
* {
  font-family: 'Open Sans', sans-serif;
}

.admin-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  .admin__left {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 240px;
    min-width: 240px;
    background-color: #303133;
  }
  .admin__left-title {
    height: 80px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.93;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: #409eff;
    padding: 13px;
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.69;
    }
  }
  .left__models {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    padding: 0 15px 15px 15px;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #cccccc;
    }

    &::-webkit-scrollbar-track {
      background: #888888;
      cursor: pointer;
    }

  }
  .left__model {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #f2f6fc;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }
  .admin__right {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }
  .right__header-top {
    height: 30px;
    min-height: 30px;
    display: flex;
    background-color: #161a24;
    padding: 5px 15px 5px 15px;
    align-items: center;
  }
  .rheader__top-name {
    margin-left: auto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .button-icon {
    margin-left: 15px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    width: 20px;
    height: 20px;
    min-height: 10px;
    min-width: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right__header-buttons {
    height: 50px;
    min-height: 50px;
    padding: 7px 15px 8px 15px;
    display: flex;
    align-items: center;
    background-color: #303133;
  }
  .rheader__buttons-new {
    margin-left: auto;
    border-radius: 3px;
    background-color: #409eff;
    border: none;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    .mdi {
      margin-right: 10px;
    }
  }
  .right__header-title {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .adminContent {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    padding: 15px;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888888;
    }

    &::-webkit-scrollbar-track {
      background: #cccccc;
      cursor: pointer;
    }
  }
  .adminTable {
    font-size: 14px;
    text-align: left;
    color: #303133;
    width: calc(100% - 1px);
    .has-gutter {
      tr {
        th {
          padding: 0;
          font-size: 12px;
          color: #606266;
          font-weight: normal;
        }
      }
    }
    button {
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }
  .crmRight__footer {
    min-height: 61px;
    display: flex;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
    align-items: center;
    .footer__up {
      margin-left: auto;
      button {
        border: none;
        min-height: 20px;
        min-width: 20px;
        padding: 0;
        border-radius: 3px;
        background-color: #606266;
        width: 40px;
        height: 40px;
        color: white;
        i {
          font-size: 18px;
        }
      }
    }
    .footer__save {
      margin-right: 20px;
      button {
        border-radius: 4px;
        background-color: #409eff;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        border: none;
      }
    }
    .footer__cancel {
      button {
        font-size: 14px;
        font-weight: 600;
        color: #606266;
        border-radius: 4px;
      }
    }
  }
  .model__select-title {
    line-height: 1.5;
  }
  /*----Новый салон----*/
  .adminContent-back {
    a {
      font-size: 13px;
      color: #8c939d;
      text-decoration: none;
    }
    .mdi {
      margin-right: 10px;
    }
  }
  .adminContent-info {
    .contentInfo-title {
      height: 40px;
      border-radius: 4px;
      background-color: #ebeef5;
      display: flex;
      align-items: center;
      flex-basis: 100%;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 600;
      color: #303133;
      text-transform: uppercase;
      margin-bottom: 10px;
      .mdi {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    .contentInfo {
      margin-bottom: 10px;
    }
    .contentInfo__inputs {
      display: flex;
      .contentInfo__input-title {
        font-size: 13px;
        color: #606266;
        line-height: 1.5;
      }
    }
    .contentInfo-row {
      display: flex;
      justify-content: space-between;
    }
    .contentInfo__contacts, .contentInfo__credit {
      flex-basis: calc(50% - 15px);
    }
    .contacts__input-row {
      display: flex;
      justify-content: space-between;
      .el-form-item {
        flex-basis: calc(50% - 15px);
        .el-date-editor {
          width: 100%;
        }
      }
    }
    .contentInfo-row {
      .contacts__input-title {
        font-size: 13px;
        color: #606266;
      }
    }
    .contentInfo__credit {
      .contentInfo__inputs {
        flex-wrap: wrap;
      }
      .el-form-item {
        flex-basis: 100%;
      }
    }
    .contentInfo__credit {
      .contentInfo__inputs {
        .el-form-item {
          margin-right: 0;
        }
      }
    }
    .el-form-item {
      margin-bottom: 20px;
    }
    .contentInfo-salon {
      .contentInfo-title {
        margin-top: 15px;
      }
    }
    .contentInfo__contacts {
      .contacts__input-phones {
        input, input::placeholder {
          font-size: 12px;
          font-weight: normal;
          color: #303133;
          opacity: 1;
        }
        input:disabled {
          background-color: rgba(235, 238, 245, 0.3);
        }
      }
    }
    .dop__inputs {
      textarea {
        height: 309px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #c0c4cc;
        resize: none;
        font-size: 12px;
        color: #303133;
        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: #888888;
        }

        &::-webkit-scrollbar-track {
          background: #cccccc;
          cursor: pointer;
        }
      }
    }
  }
  .contentInfo-salon {

    .contentInfo__inputs {
      flex-wrap: wrap;
      justify-content: space-between;
      .el-form-item {
        flex-basis: calc(33.3333% - 15px);
        .el-select {
          width: 100%;
        }
      }
    }
    .contentInfo__time {
      display: flex;
      align-items: center;
      flex-basis: calc(33.333333% - 15px);
      flex-wrap: wrap;
      justify-content: space-between;
      .contentInfo__time-title {
        line-height: 1.5;
        font-size: 13px;
        color: #606266;
      }
      .el-form-item {
        flex-basis: calc(50% - 5px);
        .el-date-editor {
          width: 100%;
        }
      }
    }
    .contentInfo__dopInfo {
      flex-basis: 100%;
      textarea {
        margin-top: 5px;
        height: 78px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #c0c4cc;
        resize: none;
      }
    }
  }
  .contentInfo__newDepartment {
    .contentInfo__newDepartment-button {
      button {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: #ffffff;
        border: dashed 1px #cccccc;
        font-size: 14px;
        font-weight: 600;
        color: #888888;
        padding: 0;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .mdi {
          font-size: 16px;
          color: #888888;
          margin-right: 6px;
        }
      }
    }
  }
  .contentInfo__newDepartment-form {
    border-radius: 4px;
    background-color: #ebeef5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .newDepartment__form-time {
    display: flex;
    flex-basis: 100%;
    .el-form-item {
      margin-right: 10px;
    }
  }
  .newDepartment__form-name {
    flex-basis: 100%;
  }
  .newDepartment__form-check {
    flex-basis: 100%;
  }
  .newDepartment__form-tel, .newDepartment__form-mail {
    flex-basis: calc(50% - 15px);
    .form__tel-inputs {
      display: flex;
    }
  }
  .contentInfo__department {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  .contentInfo__department-titles {
    flex-basis: 100%;
    .el-form-item__content {
      display: flex;
      align-items: center;
    }
  }
  .contentInfo__department-check {
    flex-basis: 100%;
  }
  .department__time {
    flex-basis: 100%;
    display: flex;
  }
  .department__form-mail, .department__form-tel {
    flex-basis: calc(50% - 15px);
    .form__tel-inputs {
      display: flex;
    }
  }
  .contentInfo__newSite-form {
    border-radius: 4px;
    background-color: #ebeef5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .newSite__form-select {
    flex-basis: 100%;
  }
  .newSite__form-info {
    flex-basis: 100%;
    display: flex;
  }
  .newSite__form-textarea {
    flex-basis: 100%;
  }
  .contentInfo__site-form {
    margin-top: 20px;
  }
  .site__titles {
    display: flex;
    align-items: center;
  }
  .form__tel-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form__tel-title {
      font-size: 14px;
      font-weight: 600;
      color: #303133;
    }
    button {
      border: none;
      background-color: transparent;
      padding: 0;
      font-size: 12px;
      color: #8c939d;
    }
  }
  .newDepartment__form-check {
    .el-form-item {
      margin-bottom: 0;
    }
  }
  .newDepartment__form-tel {
    .el-form-item {
      margin-bottom: 5px;
    }
  }
  .newDepartment__form-mail {
    .el-form-item {
      margin-bottom: 5px;
    }
  }
  .contentInfo__department-check {
    .el-form-item {
      margin-bottom: 0;
    }
  }
  .form__tel-input:not(:last-child) {
    margin-right: 10px;
  }
  .newDepartment__form-buttons {
    margin-top: 15px;
  }
  .contentInfo__department {
    margin-bottom: 20px;
    .contentInfo__department-titles {
      display: flex;
      align-items: center;
      .el-form-item {
        margin-bottom: 10px;
      }
      .department__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: #409eff;
        text-transform: uppercase;
      }
      button {
        padding: 0;
        background-color: transparent;
        border: none;
        margin-left: 10px;
        color: #888888;
        font-size: 14px;
      }
    }
    .department__form-tel, .department__form-mail {
      .el-form-item {
        margin-bottom: 0;
      }
    }
    .contentInfo__time {
      margin-right: 10px;
    }
    .form__tel-titles {
      .form__tel-title {
        font-size: 13px;
        font-weight: normal;
        color: #606266;
        line-height: 1.5;
      }
    }
  }
  .contentInfo__newSite-form {
    .el-select {
      width: 100%;
    }
    .newSite__form-info {
      justify-content: space-between;
      .el-form-item {
        flex-basis: calc(33.333% - 10px);
      }
    }
    textarea {
      height: 78px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #c0c4cc;
      resize: none;
    }
  }
  .contentInfo__site-form {
    .site__titles {
      align-items: flex-end;
      margin-bottom: 10px;
      .site__titles-title {
        font-size: 14px;
        color: #409eff;
        font-weight: 600;
        text-transform: uppercase;
      }
      button {
        padding: 0;
        margin-left: 10px;
        border: none;
        background-color: transparent;
        color: #888888;
      }
    }
    .newSite__form-info {
      justify-content: space-between;
      .el-form-item {
        flex-basis: calc(33.333% - 10px);
      }
    }
    textarea {
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #c0c4cc;
      resize: none;
    }
  }
  /*-----Сотрудники----*/
  .adminContent__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .adminContent__buttons-search {
    flex-basis: 40%;
    input {
      width: 100%;
    }
  }
  /*----Новый сотрудник-----*/
  .contentInfo__rights-title {
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #606266;
  }
  .contentInfo__rights-group {
    .el-checkbox-group {
      padding-left: 15px;
      label {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 350px;
        margin-right: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
      }
    }

  }
  .contentInfo__rights {
    margin-bottom: 10px;
  }
  .model__select-text {
    font-size: 13px;
    color: #606266;
    margin-bottom: 20px;
  }
  .dialogSendInfo-control {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
    margin-bottom: 20px;
    span {
      color: red;
    }
  }
  .dialogSendInfo-wrapper {
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .dialogSendInfo__data:not(:last-child) {
    margin-bottom: 16px;
  }
  .dialogSendInfo__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #363636;
  }
  .newConfPop__buttons {
    display: flex;
    margin-top: 30px;
  }
  .dialogSendInfo__data-title {
    width: 220px;
    margin-right: 20px;
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: rgba(64, 158, 255, 0.05);
  }

  /*----LOGIN-----*/
  .login-container {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: #ebeef5;
    display: flex;
    align-items: center;
    justify-content: center;
    .login {
      width: 500px;
      height: 500px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
    }
    .login-title {
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #161a24;
      margin-bottom: 15px;
    }
    .login-text {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #161a24;
      margin-bottom: 10px;
    }
    .el-form {
      width: 100%;
      .login__input-title {
        font-size: 13px;
        text-align: left;
        color: #606266;
        height: 20px;
        line-height: 1.5;
      }
      input {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
      }
      .el-form-item:last-child {
        margin-bottom: 30px;
      }
    }
    .login-button {
      width: 100%;
      margin-bottom: 20px;
      button {
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 4px;
        background-color: #409eff;
        width: 100%;
      }
    }
    .login-forgot {
      a {
        font-size: 13px;
        color: #c0c4cc;
        text-decoration: none;
        transition: 0.3s ease;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /*-----Справочник автомобилей------*/
  .directory-row {
    display: flex;
    flex-grow: 2;
  }
  .directory {
    flex-basis: 16.6666666%;
    display: flex;
    flex-direction: column;
    border: solid 1px #cccccc;
    overflow: hidden;
    flex-grow: 2;
  }
  .directory:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .directory:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .directory:not(:last-child) {
    border-right: none;
  }
  .directory__titles {
    padding: 10px 5px;
    background-color: #ebeef5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 76px;
  }
  .directory__titles-title {
    font-size: 14px;
    font-weight: 600;
    color: #303133;
    text-transform: uppercase;
  }
  .directory__titles-button {
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #303133;
    font-size: 16px;
  }
  .directory__titles-search {
    flex-basis: 100%;
    margin-top: 5px;
    input {
      width: 100%;
    }
  }
  .directory__column {
    flex-grow: 2;
    overflow-y: auto;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888888;
    }

    &::-webkit-scrollbar-track {
      background: #cccccc;
      cursor: pointer;
    }
  }
  .directory__column-item {
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    padding: 5px;
    min-height: 24px;
    cursor: pointer;
    .column__item-title {
      font-size: 12px;
      font-weight: normal;
      color: #888888;
    }
    .column__item-button {
      margin-left: auto;
    }
    button {
      padding: 0;
      border: none;
      background-color: transparent;
      i {
        color: white;
      }
    }
    &:hover, &:focus, &:active {
      background-color: #ebeef5;
      outline: none;
      .column__item-title {
      }
      button {
        i {
          color: #888888;
        }
      }
    }
    &:focus, &:active {
      background-color: #ebeef5;
      .column__item-title {
        color: #409eff;
      }
    }
  }
  .directory__column-item-focus{
    cursor: default;
    background-color: #ebeef5;
    .column__item-title {
      color: #409eff;
    }
    button {
      i {
        color: #888888;
      }
    }
  }
  .directory__pokolenie {
    .directory__column-item {
      min-height: 40px;
    }
  }
  .directory-rowMobile {
    display: none;
  }
}

/*----MEDIA----*/
@media screen and (min-width: 992px) and (max-width: 1450px) {
  .crm-container {

    .right__header {
      .right__header-buttons {
        button {
          font-size: 30px;
          margin: 0;
          padding: 0 15px;
          display: flex;
          justify-content: center;
        }
        .rheader__button-text, .el-badge {
          display: none;
        }
        .rheader__buttons-new {
          font-size: 12px;
          height: 32px;
          margin-left: 15px;
        }
      }
    }
    .crmRight__collapse-state {
      flex-wrap: wrap;
    }
    .crmRight__options .el-collapse-item__content {
      flex-wrap: wrap;
    }
    .crmRight__options {
      .optionLeft, .optionCenter, .optionRight {
        flex-basis: calc(50% - 15px);
      }
    }
    .crmRight__check .el-checkbox-group {
      flex-wrap: wrap;
    }
    .el-checkbox + .el-checkbox {
      margin-left: 0;
    }
    .el-checkbox {
      margin-right: 10px;
    }
  }
  .admin-container {
    .directory__pokolenie {
      .directory__column-item {
        min-height: 60px;
      }
    }
    .directory__column-item {
      min-height: 40px;
    }
    .contentInfo-salon {
      .contentInfo__inputs {
        .el-form-item, .contentInfo__time {
          flex-basis: calc(50% - 15px);
        }
      }
    }
    .contentInfo__site-form {
      .newSite__form-info {
        .el-form-item {
          flex-basis: 100%;
        }
      }
    }
  }

}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .admin-container {
    .contentInfo__site-form {
      .newSite__form-info {
        flex-wrap: wrap;
        .el-form-item {
          flex-basis: 100%;
        }
      }
    }
    .contentInfo__newSite-form {
      .newSite__form-info {
        flex-wrap: wrap;
        .el-form-item {
          flex-basis: 100%;
        }
      }
    }
    .newDepartment__form-mail, .newDepartment__form-tel {
      flex-basis: 100%;
    }
    .contentInfo-salon {
      .contentInfo__inputs {
        .el-form-item {
          flex-basis: calc(50% - 15px);
        }
      }
    }
    .contentInfo-salon {
      .contentInfo__time {
        flex-basis: 100%;
      }
    }
    .department__form-mail, .department__form-tel {
      flex-basis: 100%;
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .crm-container {

    .right__header {
      .right__header-buttons {
        button {
          font-size: 30px;
          margin: 0;
          padding: 0 15px;
          display: flex;
          justify-content: center;
        }
        .rheader__button-text, .el-badge {
          display: none;
        }
        .rheader__buttons-new {
          font-size: 12px;
          height: 32px;
          margin-left: 15px;
        }
      }
      .rheader__top-message, .rheader__top-name {
        font-size: 10px;
      }
    }
    .crmRight__collapse-state {
      flex-wrap: wrap;
    }
    .crmRight__options .el-collapse-item__content {
      flex-wrap: wrap;
    }
    .crmRight__options {
      .optionLeft, .optionCenter, .optionRight {
        flex-basis: 100%;
      }
    }
    .el-checkbox + .el-checkbox {
      margin-left: 10px;
    }
    .crm__left {
      width: 220px;
      min-width: 220px;
    }
    .rheader__button .mdi {
      margin-right: 0px;
    }
    .right__header .right__header-buttons button {
      font-size: 20px;
      margin: 0;
      padding: 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .right__header .right__header-buttons button {
      font-size: 22px;
    }
    .rheader__buttons-search {
      width: 150px;
    }
    .crmRight__info-input {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .crmRight__dopi-bittons {
      flex-wrap: wrap;
      button {
        flex-basis: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
    .crmRight__check .el-checkbox-group {
      flex-wrap: wrap;
    }
    .el-checkbox + .el-checkbox {
      margin-left: 0;
    }
    .el-checkbox {
      margin-right: 10px;
    }
    .el-form{
      .crmRight__reviewsEdit-textareas{
        flex-wrap: wrap;
        .el-form-item{
          flex-basis: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

/*-----Меню-----*/
@keyframes openLeft {
  from {
    height: 0
  }
  to {
    height: calc(100% - 50px);
  }
}

@keyframes closeLeft {
  from {
    height: calc(100% - 50px);
  }
  to {
    height: 0px;
  }
}

.admin__left-button {
  display: none;
}

.admin__left-buttons {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .admin-container {
    .admin__left {
      z-index: 9999;
      position: absolute;
      top: 50px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0;
      min-width: 0;
      max-width: 100%;
      background-color: #303133;
      overflow: hidden;
      .left__models {
        overflow: hidden;
      }
      .admin__left-buttons {
        display: flex;
        align-items: center;
        padding: 5px 15px;
      }
    }
    .adminLeftOver {
      .left__models {
        overflow-y: auto;
      }
    }
    .adminLeftClose {
      animation: closeLeft 0.3s linear;
      animation-fill-mode: forwards;
    }
    .adminLeftOpen {
      animation: openLeft 0.3s linear;
      animation-fill-mode: forwards;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: #cccccc;
      }

      &::-webkit-scrollbar-track {
        background: #888888;
        cursor: pointer;
      }
    }
    .adminLeftOver {
      overflow-y: auto;
    }
    .admin__left-button {
      display: block;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        background-color: transparent;
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: white;
      }
    }
    .right__header-top {
      display: none;
    }
    .right__header-buttons {
      padding: 7px 15px 8px 0;
    }
    .left__model {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    table {
      font-size: 12px;
      outline: none;
    }
    .admin__right {
      .rheader__buttons-new {
        background-color: transparent;
        padding-right: 0;
      }
    }
    .admin__left {
      .admin__left-title {
        display: none;
      }
      .admin__left-buttons {
        display: flex;
        flex-wrap: wrap;
        background-color: #409eff;
        height: 40px;
        min-height: 40px;
        color: white;
        .admin__left-name {
          color: white;
          font-size: 16px;
        }
        .admin__left-button {
          margin-left: auto;
          color: white;
          margin-right: 10px;
          padding: 0;
        }
        .admin__left-exit {
          padding: 5px;
          color: white;
          margin-right: 0;
        }
      }
    }

    /*-----Справочник------*/
    .directory-row {
      display: none;
    }
    .directory-rowMobile {
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      .directory {
        border-radius: 4px;
      }
      .el-tabs {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex-grow: 2;
        .el-tabs__item {
          font-size: 16px;
          font-weight: 600;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .el-tabs__item:focus.is-active.is-focus:not(:active) {
          outline: none;
          box-shadow: none;
        }
        .el-tabs__content {
          display: flex;
          flex-direction: column;
          flex-grow: 2;
          overflow: hidden;
          .el-tab-pane {
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            .directory__column-item {
              min-height: 30px;
              .column__item-title {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .crm-container {
    .crm__left {
      z-index: 9999;
      position: absolute;
      top: 50px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0;
      min-width: 0;
      max-width: 100%;
      background-color: #303133;
      overflow: hidden;
      .left__models {
        overflow: hidden;
      }
      .admin__left-buttons {
        display: flex;
        flex-wrap: wrap;
        background-color: #409eff;
        height: 40px;
        min-height: 40px;
        color: white;
        align-items: center;
        padding: 5px 15px;
        .admin__left-name {
          color: white;
          font-size: 16px;
        }
        .admin__left-button {
          margin-left: auto;
          color: white;
          margin-right: 10px;
          padding: 0;
        }
        .admin__left-exit {
          padding: 5px;
          color: white;
          margin-right: 0;
        }
      }
    }
    .adminLeftOver {
      .left__models {
        overflow-y: auto;
      }
    }
    .adminLeftClose {
      animation: closeLeft 0.3s linear;
      animation-fill-mode: forwards;
    }
    .adminLeftOpen {
      animation: openLeft 0.3s linear;
      animation-fill-mode: forwards;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: #cccccc;
      }

      &::-webkit-scrollbar-track {
        background: #888888;
        cursor: pointer;
      }
    }
    .adminLeftOver {
      overflow-y: auto;
    }
    .admin__left-button {
      display: block;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        background-color: transparent;
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: white;
      }
    }
    .right__header-top {
      display: none;
    }
    .right__header-buttons {
      padding: 7px 15px 8px 0;
    }
    .left__model {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .crm__left-title {
      display: none;
    }

    /*----Все обьявления-----*/
    .crmRight {
      table {
        font-size: 12px;
      }
    }
    .crmRight__selects {
      .crmRight__selects-marks, .crmRight__selects-models {
        flex-basis: calc(50% - 20px);
        margin-right: 20px;
      }
    }
    /*----Настройки-----*/
    .crmRight__settings{
      .crmRight__setting-limints, .crmRight__setting-other{
        flex-basis: 100%;
      }
     .crmRight__setting-foto, .crmRight__setting-panel, .crmRight__setting-sale{
       flex-basis: 100%;
     }
      .crmRight__setting-item{
        flex-basis: 100%;
      }
    }
  }
}

/*----Новый салон медиа----*/
@media screen and (max-width: 1100px) {
  .adminContent-info {
    .contentInfo__inputs {
      flex-wrap: wrap;
    }
    .contentInfo__inputs {
      .el-form-item {
        flex-basis: 100%;
        margin-right: 0 !important;
      }
    }
    .contentInfo-row {
      flex-wrap: wrap;
    }
    .contentInfo__contacts, .contentInfo__credit {
      flex-basis: 100%;
    }
  }
}

.crmRight__tables {
  width: 100%;
}
.footer__saves{
  button{
    margin-right: 15px;
  }
}
